dist
build
storage-data/
database-data/
https-portal-data/
redis.conf/
node_modules/*
docker.env
.env
.env.local
.env.new
.env.production
.log
.vscode/*
npm-debug.log
stats.json
.DS_Store
data/*
.idea
*.pem
*.key
*.cert
*.sql
=
